<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Circle | login</title>
	<link rel='stylesheet' href='/css/login.css' />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
	<div class="page">
		<div class="wrapper">
			<h1> Sign in</h1>
			<form method="post" action="/auth/signin">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input name="email" type="email" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text ">We'll never share your email with anyone
						else.</small>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input name="password" type="password" class="form-control" id="exampleInputPassword1"
						placeholder="Password">
				</div>

				<button type="submit" class="btn btn-lg btn-block btn-success">Login</button>
			</form>
			<small>Dont have a account
				<a href="/signup" id="ember363" class="btn  btn-link "> Sign Up </a>
			</small>
		</div>
	</div>
</body>

</html>






