<!DOCTYPE html>
<html>
	<head>
		<title>Psychic|Circle - login</title>
		<link rel='stylesheet' href='/css/login.css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
</head>
<body>
	<div class="container">
		
		<script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>
		<div class="container text-center">
			<form class="form-signin" data-ember-action="2" method="post" action="/auth/signin">
				<h2 class="form-signin-heading">Sign in</h2>
				<small class="text-muted">Connect [your service] with your favorite social network</small>
				<br><br>
				
				<a href="/auth/facebook" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
				<a href="/auth/google" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
				<br><br>
				<small class="text-muted">Or sign in with [your service]</small>
				<br><br>
				
				<input id="ember360" name="email" class="ember-view ember-text-field form-control login-input" placeholder="Email Address" type="text" autofocus>
				<input id="ember361" class="ember-view ember-text-field form-control login-input-pass" placeholder="Password" name="password" type="password" autocomplete="false">
				<script id="metamorph-22-start" type="text/x-placeholder"></script><script id="metamorph-22-end" type="text/x-placeholder"></script>
				<button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3">Sign in</button>
				<br>
				<small class="create-account text-muted">Dont have a [your service] or social network account?
				<a href="/signup" id="ember363" class="ember-view btn btn-sm btn-default"> Sign Up </a> </small>
			</form>
		</div>
	</body>
</html>