<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel='stylesheet' href='/css/login.css' />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
	<div class="page">
		<div class="wrapper">
			<h1>Register Now</h1>
			<form  method="post" action="/auth/signup">
				<div class="form-group">
					<label for="nameInput">Screen Name</label>
					<input type="text" name="fullname" class="form-control" placeholder="A name you choose for communicating">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input name="email" type="email" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text ">We'll never share your email with anyone
						else.</small>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input name="password" type="password" class="form-control" id="exampleInputPassword1"
						placeholder="Password">
				</div>

				<button type="submit" class="btn btn-lg btn-block btn-success"> Sign Up</button>
			</form>
			<small>I have an account
				<a href="/login" id="ember363" class="btn  btn-link "> Login  </a>
			</small>
		</div>
	</div>
</body>
</html>