<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Circle | topics</title>
		<link rel="stylesheet" href="./css/roomsStyles.css">
	</head>
	<body>
		<div class="container">
			<div class="titlePanel">
				<h1>Psychic|Circle  Select or Create a Circle topic</h1>
			</div>
			<div class="controls">
				<div class="userPicHolder"><img src="<%=user.image%>" onerror="this.src='/images/user.jpg'" alt="<%=user.username%>"></div>
				<p class="userName"><%=user.username%></p>
				<a href="/auth/logout" id="logOutBtn">Logout</a>
			</div>
			<form id="createroom-form">
				<div class="controls">
					<input id="create-room" type="text" name="roomName" placeholder="Create a new Chatroom" required minlength="2">
					<a  href="javascript:$('#createroom-form').submit();" id="createBtn">Create</a>
				</div>
			</form>
			  
			
			<div class="roomsListDiv">
				<ul class="roomsList" id="roomsListUL">
					<!-- Loop list items here -->
					<!-- Loop ends -->
				</ul>
			</div>
		</div>
		 <div class="foot"> <p style="text-align:center">
                <h2>© MahmoudAbdelaziz 2018.</h2>
                <!--Facebook icon-->
                <a href="https://twitter.com/mhmod_abdelaziz" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/ueBIjxRoTBuYR6XWW1iO_v3qVW5nRUq5VZF9RQXi2_twitter.png" /> </a>&nbsp; &nbsp; &nbsp;
                <!--Google+ icon-->
                <a href="https://plus.google.com/u/0/102301396727943133615" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/gHd2XoyiQbKBqljm7bzg_63j3xtd7SX28TTMeOSfZ_google.png" /> </a>&nbsp; &nbsp;&nbsp;
                <!--Twitter icon-->
                <a href="https://www.facebook.com/mhmoudabdelazizz" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/MsIJsIsDT9WLAxxH4aIK_OgdHV3vxSR2737LGd8cq_facebook.png" /> </a>&nbsp; &nbsp;&nbsp;
                
            </p></div>
		<script id="room-template" type="text/template">
			<a href="chatroom?room={{id}}"><li id="xx">{{name}}</li></a>
		</script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/libs/jquery-3.1.0.min.js"></script>
		<script src="/js/libs/mustache.js"></script>
		<script src="/js/index.js"></script>
	</body>
</html>