<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Circle | topics</title>
	<link rel="stylesheet" href="./css/roomsStyles.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>



<body>
	<div class="page">
		<div class="heading">
			<div class="dropdown">
				<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					@ <%=user.username%>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="/auth/logout">Logout</a>
				</div>
			</div>
		</div>
		<div class="wrapper">

			<h1>Psychic|Circle Select or Create a Circle topic</h1>

			<form class="form-inline" id="createroom-form">

				<input style="background: padding-box;" id="create-room" type="text" name="roomName" placeholder="Create a new Chatroom" required
					class="form-control form-control-lg m-3" minlength="2" class="form-control">

				<button href="javascript:$('#createroom-form').submit();" class="btn  m-3 btn-success">
					Create</button>

			</form>



			
				<ul class="roomsList" id="roomsListUL">
					<!-- Loop list items here -->
					<!-- Loop ends -->
				</ul>
			
		</div>
	</div>

	<script id="room-template" type="text/template">
			<a class="list badge badge-pill badge-dark" href="chatroom?room={{id}}"><li class="list" id="xx"> #{{name}}</li></a>
		</script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/libs/jquery-3.1.0.min.js"></script>
	<script src="/js/libs/mustache.js"></script>
	<script src="/js/index.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>